*~
*.o
*.lo
*.la
*.log
*.trs

*.swp

Makefile
Makefile.in
.deps
.libs

/autom4te.cache
/aclocal.m4
/compile
/config.*
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/stamp-h1
/test-driver

/m4/libtool.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4

/src/libmicrotouch3m/microtouch3m.h
/src/libmicrotouch3m/microtouch3m.pc

/src/microtouch3m-cli/microtouch3m-cli

/src/microtouch3m-scope/microtouch3m-scope

/src/microtouch3m-scope/.idea
/src/microtouch3m-scope/cmake-build-debug
